@import "../../../theme.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 12px;
  border-bottom: 1px solid $MIDNIGHT_BORDER;
}

.logo {
  display: block;
  height: 28px;
}

.title {
  font-size: 12px;
  color: $MIDNIGHT_700;
}

.menu {
  padding: 4px;
  border-radius: 4px;
  margin-right: -8px;
  cursor: pointer;

  &:hover {
    background: $MIDNIGHT_300;
  }
  &:active {
    background: $MIDNIGHT_400;
  }
}
