.wrapper {
  display: grid;
  grid-template-columns: 160px 1fr;
  height: 100vh;
  word-break: break-all;
}

.body {
  display: grid;
  grid-template-rows: 1fr 32px;
  padding: 20px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
