$PRIMARY_900: #00abad;
$PRIMARY_100: #dcf0f1;
$PRIMARY_50: #e5f4f5;

$RED: #ff4b6c;

$MIDNIGHT_900: #39454f;
$MIDNIGHT_700: #4e677c;
$MIDNIGHT_500: #8594a1;
$MIDNIGHT_400: #cad2da;
$MIDNIGHT_300: #e5e9ed;
$MIDNIGHT_100: #f4f6f5;
$MIDNIGHT_50: #fbfbfc;
$MIDNIGHT_BORDER: #e7ebee;
$MIDNIGHT_BORDER_HEAVY: #ccd8e2;

$WHITE_900: #ffffff;
$WHITE_700: #ffffffbd;
$WHITE_100: #ffffff3d;
$WHITE_50: #ffffff1a;
$WHITE_BORDER: #ffffff66;

$SHADOW_SHALLOW: 0px 2px 12px rgba(0, 0, 0, 0.02);
$SHADOW_CARD: 0px 4px 12px rgba(24, 93, 95, 0.06);
$SHADOW_HOVER: 0px 2px 12px rgba(24, 93, 95, 0.2);
